:root {
    --background-dark: #222;
    --background-darker: #1a1a1a;
    --background-light-dark: #232323;
    --background-gray: #313131;
    --text-light: #f2f2f2;
    --text-offwhite: #e6e6e6;
    --text-logo-color: #7700ff;
    --text-logo-light-color: #af6aff;
    --overlay-background: rgba(0, 0, 0, 0.5);
}

:root.light-mode {
    --background-dark: #f9f9f9;
    --background-darker: #ffffff;
    --background-light-dark: #e0e0e0;
    --background-gray: #d6d6d6;
    --text-light: #000000;
    --text-offwhite: #444;
    --text-logo-color: #7700ff;
    --text-logo-light-color: #af6aff;
    --overlay-background: rgba(145, 145, 145, 0.5);
}

/* ========= Allgemeine Styles ========= */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-darker);
    width: 100%;
    margin: auto;
}

/* ========= Header ========= */
#headerPlaceHolder {
    height: 80px;
}

#dropDown {
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    display: none;
}

header {
    background: var(--background-dark);
    padding: 0px 15px;
    color: var(--text-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--text-offwhite) 2px solid;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.wrapper {
    width: 80%;
}

#Wheels {
    background-color: var(--text-logo-color);
    border-radius: 5px;
    padding: 1px;
    color: var(--background-light-dark);
}

#logo {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin-left: 20%;
    cursor: pointer;
    transition: 0.5s ease;

}

#logo:hover {
    transform: scale(1.05);
}

#logo span {
    color: var(--background-dark);
    padding: 2px 5px;
}

.nav-rechts {
    display: flex;
    gap: 15px;
    margin-right: 20%;
    transition: 0.5s ease;
}

.nav-rechts a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 13px;
    transition: 0.5s ease;
}

.nav-rechts a:hover {
    transform: scale(1.1);
}

#login {
    padding: 10px;
    background-color: var(--text-logo-color);
    color: white;
    border: var(--text-offwhite) 3px solid;
    border-radius: 15px;
    text-align: center;
}

#whiteModeToggle {
    background-color: var(--text-offwhite);
    border: var(--background-light) 3px solid;
    border-radius: 15px;
    color: var(--background-darker);
    cursor: pointer;
    transition: 0.3s;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: bold;
}

#whiteModeToggle:hover {
    background-color: var(--text-logo-color);
}

/* ========= Hero Section ========= */
.hero {
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    background-image: url(./Bilder/Startseite_Image_1.jpeg);
    background-position: center;
    background-size: cover;
    border-bottom: var(--text-offwhite) 2px solid;
}

.overlay {
    background: var(--overlay-background);
    padding: 10px;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointe;
}

.overlay:hover {
    transform: scale(1.1);
}

/* ========= Suchfeld ========= */
.search-box {
    background: var(--text-light);
    padding: 20px;
    margin: -40px auto 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* ========= Filter ========= */
.filters-container {
    text-align: center;
    background: var(--background-dark);
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filters-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-light);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background: var(--text-offwhite);
    color: var(--background-light-dark);
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    min-width: 150px;
}

.filters select:hover,
.filters select:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

/* ========= Bottom Section ========= */
select,
.search-btn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-btn {
    background: yellow;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.last-search,
.sell-car {
    background: var(--text-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 40%;
}

.sell-btn {
    background: var(--background-darker);
    color: var(--text-light);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#auto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.auto-box {
    background: var(--background-light-dark);
    color: var(--text-light);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    cursor: pointer;
}

.auto-box:hover {
    transform: scale(1.05);
    background: var(--background-gray);
}

.auto-box:hover h3 {
    color: var(--text-logo-light-color);
    transform: scale(1.05);
}

.auto-box h3 {
    transition: ease 0.5s;
}

.auto-bild {
    width: 100%;
    max-height: 170px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}



@media (max-width: 1300px) {
    #auto-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        width: 90%;
        margin: auto;
    }

    .nav-rechts {
        margin-right: 3%;
    }

    #logo {
        margin-left: 0%;
    }
}

@media (max-width: 768px) {
    #auto-container {
        flex-direction: column;
        align-items: center;
    }

    .filters {
        display: grid;
        grid-template-columns: auto auto;

        gap: 10px;
    }

    .filters select {
        width: 100%;
        min-width: auto;
    }

    .nav-rechts {
        display: none;
        flex-direction: column;
    }

    #logo {
        margin: auto;
    }

    #dropDown {
        display: block;
    }


}
.nav-rechts.active {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    top: 150px;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: var(--background-gray);
    padding: 10px;
    border-radius: 15px;
}